@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit text to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
